<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>帧率设置组件</title>
<link rel="stylesheet" href="./css/slidingRail.css">
</head>
<body>
  <div class="slider-container">
    <div class="slider-track" id="slider-track"></div>
    <div class="slider" id="slider"></div>
    <div class="slider-labels">
      <span class="slider-label">30帧</span>
      <span class="slider-label">45帧</span>
      <span class="slider-label">60帧</span>
    </div>
  </div>
    <script src="./js/slidingRail.js"></script>
</body>
</html>
