#imgshow {
    display: inline-block;
    height: 100%;
    width: auto;
    object-fit: contain; /* 保证图片不被拉伸 */
    cursor: grab; /* 鼠标显示抓取状态 */
    user-drag: none; /* 禁用图片默认拖动行为 */
    position: absolute; /* 确保可以精确控制图片位置 */
}


body{
    text-align: center;
    background-color: rgb(40, 35, 41);
    margin: 0;
    overflow: hidden; /* 防止图片放大后超出视口 */
    height: 100vh;
}
