#imgshow{
    display: inline-block;
    height: 100%; /* 高度占满窗口 */
    width: auto;  /* 宽度自动调整，可能溢出 */
    object-fit: cover; /* 视频溢出宽度时会被裁剪 */
}
body{
    text-align: center;
}

/* drag-region{
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
} */


/* #follower {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;  
  } */