#wallpaperImg, #wallpaperVideo, #wallpaperIframe, #wallpaperbilibili{
    height: 100%; /* 高度占满窗口 */
    width: auto;  /* 宽度自动调整，可能溢出 */
    object-fit: cover; /* 视频溢出宽度时会被裁剪 */
}

body{
    background-color: black;
}

#wallpaperContent{
    height: 100%;
    width: auto;
    text-align: center;
}